<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    
                    
                </button>
                @Html.ActionLink("EMB-信息管理", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("用户", "Index", "Users", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("用户账户", "Index", "AccountInfoes", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("用户信息", "Index", "UserInfoes", new { area = "" }, null)</li>

                    <li>@Html.ActionLink("学校", "Index", "Universities", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("院系", "Index", "Academys", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("年级", "Index", "Grads", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("班级", "Index", "ClassNums", new { area = "" }, null)</li>

                    <li>@Html.ActionLink("绑定记录", "Index", "BandTabs", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("评价表", "Index", "EvalutionForms", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("评论记录", "Index", "Assessments", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("评价模板", "Index", "CommentTemplates", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("课程模板", "Index", "CourseTemplates", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("系统配置", "Index", "CTEPSysCofigs", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("课堂绑定", "Index", "SchoolBandisTabs", new { area = "" }, null)</li>


                    <li>@Html.ActionLink("用户设置", "Index", "UserSetTabs", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top:5.8em">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - EMB 课堂评价管理平台 ClassRoom Teaching Evalution  Plantform</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
